<body  >
    <div class="flex m-5 bg-color-red-200">

        <div >
            <img class="md:m-3 px-3 w-full" src="{{getImageUrl(filmdetail.poster_path)}}" alt={{filmdetail.original_title} id="image">
        </div>
        <div class="m-3">
            <div >
                <span class="text-2xl font-bold">{{filmdetail.original_title}}</span>
            </div>
            <div>
                <p >
                    {{filmdetail.overview}}
                </p>
            </div>
            
        </div>
        
    </div>

</body>