.image{
    height: 100%;
    width:100%;
}
#Description{
    padding-top: 100px;
    width: 50%;
}
#comment{
    opacity: 1.4;
    margin-top: 6px;
    padding: 20px;
    border-color :white ;
    border-width:1px ;
}
#comment:hover{
    scale: 1.2;
    transition: 0.8s;
}