<body class=" bg-gray-900 text-white" >
    <div class="md:flex ml-4  ">

        <div class="p-10 col-md-4"  >
            <img src="{{getImageUrl(filmdetail.poster_path)}}" alt={{filmdetail.original_title} >
        </div>
        <div class=" container mt-10 ">
            
            <!---title-->
            <div>
                <span class="pl-2 text-2xl font-bold border-l-4 border-red-800">{{filmdetail.original_title}}</span>
            </div>
            <div class="mt-10 ">
                <div class="mt-5   w-3/4">
                    <span class="py-1"><strong>Overview:</strong></span>
                    <p>{{filmdetail.overview}}</p>
                </div>
                    <div class="py-2">
                        <span class="font-bold">Date of release: </span>
                        <span>{{filmdetail.release_date.slice(0,4)}}</span>
                    </div>
                
                    <div class="py-2 flex">
                        <span><strong>Genres: </strong></span>
                        <span *ngFor="let genre of filmdetail.genres" >
                            <div class="ml-1 px-1 rounded-lg bg-red-800 text-gray-300">{{genre.name}}</div> 
                        </span>

                        
                    </div>
                    <div class="py-2">
                        <span><strong>Popularity: </strong>{{filmdetail.popularity}}</span>
                    </div>
                    <div class="flex  py-4">
                        <span><strong>Vote average: </strong></span>
                        <app-stars class="card-text  text-yellow-400 px-4"  [averageVote]="filmdetail.vote_average"></app-stars>
                    </div>
                    <div class="mt-4">
                        <div>
                            <strong>Favorie :</strong>
                        </div>
                        @if (filmdetail.favorited) {
                            <div (click)="toggleFavorite()">
                                <img class="hover:scale-y-110 mt-4 hover:cursor-pointer"  src="./assets/heartF.png">
                            </div>
                        }
                        @else{
    
                            <diV (click)="toggleFavorite()">
                                <img class="hover:scale-y-110 mt-4 hover:cursor-pointer"  src="./assets/heart.png">
                            </diV>
                        }
                    </div>
                
                    
            </div>
        </div>
        
    </div>
    <div class="ml-4 px-10 mt-0">
        <div class=" mb-5">
            <span class="text-6xl ">Comments:</span>
            <br>
        </div>
        @if (this.comments && this.comments!==[]) 
        {
            
                <div  *ngFor="let comment of comments">
                    <div id="comment">
                        {{ comment.text }}
                    </div>
                </div>
            

        }
        @else {
                <div>
                    <h2 class="text-3xl m-4 text-center">No Comments Yet</h2>
                </div>
        }   
        <div>
            <form (ngSubmit)="submitComment()">
                <input placeholder="Enter your comment " name="Commtext" class="bg-gray-800 w-10/12 h-20 mb-12  border-white border-1 p-4 rounded-3xl" [(ngModel)]="Commtext" >

                <button type="submit" class="m-4 bg-red-800 py-2 px-3 rounded-xl hover:bg-blue-600 transform:0.8">Publish</button>
                <p-toast></p-toast>
                <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success">wesh</button>
            </form>
        </div>
        
    </div><!-- Add a form to add new comments -->
        

</body>