<nav class="navbar bg-red-800  ">
    <div class="container-fluid">
      <a class="navbar-brand flex items-center text-white cursor-pointer ng " (click)="homepage()" >
        <img src="./assets/tv.png" alt="logo" class="px-2 ">MoV-APP</a>
      <a  class="text-white navbar-brand hover-line" (click)="homepage()" >Home</a>
      <a class="text-white navbar-brand hover-line">Favories</a>
      <form class="d-flex" role="search">
        <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>